<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @player.id %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @player.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
